@CHARSET "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
div#wrap {
	width: 450px;
	height: 250px;
	margin: 0 auto;
}
table.form {
	width: 400px;
	margin: 20px auto;
	border: 1px solid #000;
	border-collapse: collapse;
}
.form th,
.form td {
	border: 1px solid #000;
}
.form th {
	width: 100px;
	text-align: left;
	background-color: #DCE6F2;
}
.form td {
	width: 250px;
}

img#calendar_img {
	width: 20px;
	hegith: 20px;
}

span#date_box > * {
	float: left;
}